<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513968660764-t99p76ou1kjc0b8rdg5amp42fh9lg35u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513968660764-t99p76ou1kjc0b8rdg5amp42fh9lg35u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>513968660764-u7jrr5pvc3tqvki46h39djiatp2m36sf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7kMG3Wbir_dPDqWCyjrHBSulBDxW5YB0</string>
	<key>GCM_SENDER_ID</key>
	<string>513968660764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mypressure.test.ios.com</string>
	<key>PROJECT_ID</key>
	<string>login-mypressure</string>
	<key>STORAGE_BUCKET</key>
	<string>login-mypressure.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513968660764:ios:299bb2b8d8235c0e5fdad9</string>
</dict>
</plist>